{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title> Cadastro de evento </title>
</head>
<body>
    {% include "header.html" %}
    {%block content %}
    <div class="container"> <br><br><br><br>
      <div id="validacao"></div>
        <h5 class="text-center"> Cadastrar eventos </h5>
      <form action="submit" method="POST" id="formulario"> {% csrf_token %}
        <div class="form-group">
          <input type="text" name="id" class="form-control" value="{{ evento.id }}" hidden>
          <label>Título</label>
          <input type="text" name="titulo" class="form-control" value="{{ evento.titulo }}" id="titulo" placeholder="Título do evento">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Data do evento </label>
            <input type="datetime-local" value={{ evento.get_data_input_evento }} name="data-evento" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label>Local do Evento </label>
            <input type="text" class="form-control" value="{{ evento.local }}" name="local-evento" id="local-evento" placeholder="Local do evento">
          </div>
        </div>
        <div class="form-group">
          <label>Descrição do Evento </label>
          <textarea class="form-control"  name="descricao" id="descricao" rows="3"> {{ evento.descricao }} </textarea>
        </div>
        <br><br>
        <button type="submit" id="btnEnviar" class="btn btn-success form-control">Salvar Evento</button>
      </form>
    </div> 
     {% endblock %}
     <br><br><br><br>
     <div class="text-center">
     {% include "footer.html" %}
    </div>

    <!-- TODO Colocar Validação nos campos  !!! -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
